{% extends "layout.html" %}
{% block body %}


  <form action = "/redirect" method = "post">
    <div class = "buttons">
      <input class ="btn btn-primary" type="submit" name="selection" value="showall" />
      <input class ="btn btn-primary" type="submit" name="selection" value="showone" />
      <input class ="btn btn-primary" type="submit" name="selection" value="edit" />
      <input class ="btn btn-primary" type="submit" name="selection" value="add" />
    </div>
  </form>





{% endblock %}
