{% extends "layout.html" %}
{% block body %}

  {% if 'logged_in' in session %}
  <form action = "/redirect" method = "post">
    <div class = "buttons">
      <input class ="btn btn-primary" type="submit" name="selection" value="showall" />
      <input class ="btn btn-primary" type="submit" name="selection" value="showone" />
      <input class ="btn btn-primary" type="submit" name="selection" value="edit" />
      <input class ="btn btn-primary" type="submit" name="selection" value="add" />
    </div>
  </form>
  {% endif %}


  {% if 'logged_in' not in session %}
  <h2>Please log in or sign up first!</h2>
  <form action = "/redirect" method = "post">
    <div class = "buttons">
      <input class ="btn btn-primary" type="submit" name="selection" value="login" />
      <input class ="btn btn-primary" type="submit" name="selection" value="signup" />

    </div>
  </form>
  {% endif %}





{% endblock %}
